$primaryColor: #fff100;
$secondaryColor: #542e90;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: Montserrat;
  font-size: 18px;
  line-height: 1.6y;
}
.container {
  max-width: 1100px;
  padding: 0 30px;
  margin: 0 auto;
  overflow: auto;
}
.loading {
  color: $secondaryColor;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: red;
  margin-top: 20px;
  font-size: 30px;
  p {
    text-decoration: underline;
    cursor: pointer;
  }
}
